.search {
  margin-bottom: 5px;

  &__results {

  }

  &__result {
    &__actions-right {
      margin-left: auto !important;

      & > * {
        margin-left: 6px;
      }
    }
  }

  &__meta {
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__last-updated {
    opacity: 0.3;
  }

  &__results-count {
    text-align: right;
  }
}
